@import "tailwindcss";

:root {
  --color-background: #1E1E1E;
  --color-foreground: #FFFFFF;
  --color-primary: #FF5733;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}